body {
  font-family: "OpenSans", sans-serif;
  background-color: #505050; }

header#mainheader {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7em;
  padding: 1em 2em 0.5em;
  background-color: #fff;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2); }
  header#mainheader > * {
    display: inline-block; }
  header#mainheader h1 {
    font-family: "amiri", serif;
    font-size: 4.5em;
    font-weight: 500;
    margin: 0 1em 0 -0.05em;
    line-height: 0.8; }
  header#mainheader nav#index ul {
    padding: 0; }
    header#mainheader nav#index ul li {
      display: inline-block;
      padding: 0 2em 0 0;
      margin-bottom: 0.2em;
      list-style: none;
      cursor: pointer;
      font-size: 0.9em; }
      header#mainheader nav#index ul li a {
        transition: color 0.3s; }
        header#mainheader nav#index ul li a.active {
          border-bottom: 1px dashed #000; }
    header#mainheader nav#index ul:hover li a {
      color: #aaaaaa; }
    header#mainheader nav#index ul:hover li:hover a {
      color: #000;
      border-bottom: 1px dashed #000; }

section#textes {
  position: absolute;
  padding: 9em 0 1em;
  margin: 0 1em;
  width: 200%; }

section.enonce {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1em 1.5em;
  width: 45em;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); }
  section.enonce:not(:last-child) {
    margin-right: 1em; }
  section.enonce:not(.active) {
    opacity: 0.7; }
  section.enonce.active {
    z-index: 10; }
  section.enonce:first-child {
    margin-left: -25em; }
  section.enonce h3 {
    font-family: "amiri", serif;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
    line-height: 1.3; }
  section.enonce h2 {
    font-family: "amiri", serif;
    font-size: 1.6em;
    font-weight: 700;
    margin: 0;
    line-height: 1.15; }

nav#connexions {
  margin-top: 2em; }
  nav#connexions h2 {
    font-family: "amiri", serif;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.1; }
  nav#connexions a {
    font-family: "OpenSans", sans-serif;
    font-size: 1em;
    font-weight: 500;
    transition: color 0.5s;
    cursor: pointer;
    color: #aaaaaa; }
  nav#connexions ul {
    padding: 0;
    margin: 0; }
    nav#connexions ul li {
      padding: 0 0 1em 0;
      margin: 0;
      list-style: none; }
      nav#connexions ul li ul li {
        display: inline-block;
        padding: 0;
        position: relative; }
        nav#connexions ul li ul li:not(:last-child):after {
          content: "|";
          margin: 0 0.5em;
          color: #aaaaaa; }
        nav#connexions ul li ul li.hover a {
          color: #000;
          border-bottom: 1px dashed #000; }
        nav#connexions ul li ul li span.popup {
          background-color: white;
          position: absolute;
          width: 15em;
          border: 1px dashed #aaaaaa;
          padding: 0.5em;
          bottom: 1em; }
    nav#connexions ul:hover li ul li a {
      color: #aaaaaa; }
    nav#connexions ul:hover li ul li:hover a {
      color: #000;
      border-bottom: 1px dashed #000; }

nav#ariane {
  position: fixed;
  width: 100%;
  padding: 0 1em;
  bottom: 0;
  margin-bottom: 3em;
  z-index: 20; }
  nav#ariane .wrapper {
    background-color: #fff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em; }
  nav#ariane ul {
    padding: 0;
    margin: 0;
    width: 200%; }
    nav#ariane ul li {
      display: inline-block;
      position: relative;
      vertical-align: top;
      padding: 0.5em 0;
      min-height: 5em; }
      nav#ariane ul li:not(:last-child) {
        margin-right: 1em;
        padding-right: 1em; }
        nav#ariane ul li:not(:last-child):after {
          position: absolute;
          right: 0;
          top: 25%;
          height: 50%;
          content: "";
          border-right: 1px solid #666; }
      nav#ariane ul li h2 {
        font-family: "amiri", serif;
        font-size: 1.3em;
        font-weight: 700;
        line-height: 0.9;
        max-width: 13em;
        margin: 0; }
      nav#ariane ul li a {
        cursor: pointer;
        transition: color 0.5s; }
    nav#ariane ul:hover li a {
      color: #aaaaaa; }
      nav#ariane ul:hover li a:hover {
        color: #000;
        border-bottom: 1px dashed #000; }

footer#toolbar {
  position: fixed;
  width: 100%;
  height: 3em;
  text-align: center;
  bottom: 0;
  padding: 0.6em;
  z-index: 20;
  background-color: #fff;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); }
  footer#toolbar > * {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em; }
